@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900;1000&display=swap');

.filters-align {
  float: right;
}
.container {
  flex-flow:row wrap;
}
.grid-style .mat-grid-tile .mat-figure{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
