<app-header></app-header>
<app-filters></app-filters>
<app-sidenav></app-sidenav>


<!--<mat-grid-list cols="1" class="grid-style">-->
<!--    <app-sidenav></app-sidenav>-->
<!--  <mat-grid-tile>-->
<!--    <app-header></app-header>-->
<!--    <app-filters></app-filters>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->


<!--<mat-grid-list cols="2" class="grid-style" >-->
<!--  <mat-grid-tile rowspan="2" >-->
<!--    <app-sidenav></app-sidenav>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <app-header></app-header>-->
<!--    <app-filters></app-filters>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->


