<ul class="btn-box">
    <li class="btn btn-red"></li>
    <li class="btn btn-yellow"></li>
    <li class="btn btn-green"></li>
</ul>
<!-- <div>
    <img src="" alt="logo">
</div>
<div>
    <ul>
        <li>Notification</li>
    </ul>
    <ul>
        <li>Unassigned orders</li>
        <li>Assigned orders</li>
        <li>Route plans</li>
    </ul>
    <ul>
        <li>Financial</li>
        <li>Financial</li>
    </ul>
    <ul>
        <li>Settings</li>
    </ul>
</div>
<div>
    Profile
</div> -->

