<div class="sidebar">
    <ul class="btn-box">
        <li class="btn btn-red"></li>
        <li class="btn btn-yellow"></li>
        <li class="btn btn-green"></li>
    </ul>
    
    <div class="logo-box">
        <img src="https://raw.githubusercontent.com/itliza/first-app/master/src/images/logo.png" alt="logo" width="140px">
    </div>
    <div class="line"></div>
    <div>
        <ul>
            <li>Notification</li>
        </ul>
        <div class="line"></div>
        <ul>
            <li>Unassigned orders</li>
            <li>Assigned orders</li>
            <li>Route plans</li>
        </ul>
        <div class="line"></div>
        <ul>
            <li>Financial</li>
            <li>Reporting</li>
        </ul>
        <div class="line"></div>
        <ul>
            <li>Settings</li>
        </ul>
        <div class="line"></div>
    </div>
    <div>
        Profile
    </div>
</div>

