<div class="sidebar">
    <ul class="btn-box">
        <li class="btn btn-red"></li>
        <li class="btn btn-yellow"></li>
        <li class="btn btn-green"></li>
    </ul>
    
    <div>
        <img src="../../images/logo.png" alt="logo">
        <img src="../../images/1.avif" alt="">
    </div>
    <div>
        <ul>
            <li>Notification</li>
        </ul>
        <ul>
            <li>Unassigned orders</li>
            <li>Assigned orders</li>
            <li>Route plans</li>
        </ul>
        <ul>
            <li>Financial</li>
            <li>Reporting</li>
        </ul>
        <ul>
            <li>Settings</li>
        </ul>
    </div>
    <div>
        Profile
    </div>
</div>

