.sidebar {
    width: 260px;
    background-color: #3361B2;
    padding: 15px 20px;
    border-radius: 12px;
    margin: -81px;
    margin-left: 0px;

}
.logo-box {
    display: flex;
    justify-content: center;
    padding: 34px;
}
.line {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
}
li {
    list-style: none;
    color: white;
    font-size: 16px;
    padding: 18px 0;
    display: flex;
    align-items: center;
}
.item-wrapper {
    margin-left: 22px;
}
.btn-box {
    display: flex;
    padding: 0;
    margin: 0;
}
.btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    padding: 0;
}
.btn-red {
    background-color: #F96057;
}
.btn-yellow {
    background-color: #F8CE52;
}
.btn-green {
    background-color: #5FCF65;
}